Source: telegram-bot-send-to
Section: net
Priority: optional
Maintainer: Axel Beckert <abe@deuxchevaux.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/xtaran/telegram-bot-send-to
Vcs-Browser: https://github.com/xtaran/telegram-bot-send-to
Vcs-Git: https://github.com/xtaran/telegram-bot-send-to.git
Rules-Requires-Root: no

Package: telegram-bot-send-to
Architecture: all
Depends: libmojolicious-perl,
         perl,
         ${misc:Depends}
Enhances: xymon
Description: Send Telegram bot messages from scripts
 A very compact and generic Perl script with minimal dependencies
 (only Mojolicious) to send messages from a Telegram bot to Telegram
 users (who allowed the bot to send them messages).
 .
 Useful for automated sending of messages, e.g. from monitoring
 systems or to relay messages from other types of messaging systems.
 .
 Includes a wrapper to allow Xymon servers to send monitoring alerts
 via Telegram instead of e-mail or costly SMS.
