#!/usr/bin/make -f
#export DH_VERBOSE = 1

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@

get-orig-source:
	tar cvJf ../telegram-bot-send-to_$(DEB_VERSION_UPSTREAM).orig.tar.xz --exclude=debian --exclude=.git .
